* { 
    --bg-color: #5c5a5a5c;
    --bg-pg: #2f2f2f;
    --fg-pg: rgb(11, 77, 128);
    --text-color: #fafafa;
    font-family: cursive;
}
.notification {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pop-in 0.5s;
}

@keyframes pop-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10%;
    color: rgb(200, 200, 0);
}

.bg_progress_bar {
    width: 100%;
    height: 0.5vh;
    background-color: var(--bg-pg);
    border-radius: 5px;
    margin-bottom: 10%;
}

.inner_progress_bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, rgb(3, 130, 26), rgb(86, 228, 57));
    border-radius: 5px;
}